body {
  background-image: url(../images/giphy.gif);
  color: black;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.jumbotron {
  background: rgba(0, 0, 0, 0);
  color: rgb(28, 255, 28);
  height: 20px;
}

.hero {
  color: rgb(35, 163, 35);
}

.villain {
  color: rgb(35, 163, 35);
}

#smith-power {
  color: rgb(28, 255, 28);
}

#messageOutput {
  color: rgb(28, 255, 28);
}

.container-fluid {
  background: rgba(0, 0, 0, .6);
}

.btn {
  margin: 5px;
  background: black;
  color: rgb(28, 255, 28);
  border-color: rgb(28, 255, 28);
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2.5rem;
}
 small {
   color: rgb(35, 163, 35);
 }
 #score {
   color: rgb(28, 255, 28);
 }